.background{
    position:fixed ;
    background:url(../img/fond.png) ;
    width: 100%;
    height: 100%;
    z-index: -100;

}

body{
    display: inline;

    font-family: 'Acme', sans-serif;
    /* cursor:url(../img/curseur.png);*/
}
/* header, partie en haut de l'ecrant */
header{
    z-index: 10;
    
    background: url(../img/menu.jpg);
    position: fixed;

    display: flex;
    flex-direction: row;

    align-items: center;
    height: 10%;
    width: 100%;
    color: white;

}

header div{
    display: flex;
    flex-direction: row;
}

header .logo{
    height: 75px;
    margin-right: 35px;
}

div.menu{
    background-color:rgba(62, 128, 206,0.5);
    border-radius: 15px;
    z-index: 10;
    width:120px;
    margin-left: 80%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
div.sub{
    position: absolute;
    display: none;
    
}

header div:hover div.sub{
    z-index: -1;
    padding-top: 25px;
    border-radius: 15px;
    background: url(../img/menu.jpg);
    border: 2px solid #2c2c2c;
    width:120px;
    display: flex;
    flex-direction: column;
}

header a{
    margin: 5px;
    color: white;
    margin-left: 5px;
}
header a:hover{
    z-index: 10;
    color: #2c2c2c;
    padding-left: 10px;
    background-color:rgba(62, 128, 206,0.5);
    border-radius: 15px;
}


/* partie central de la page */


main{

    position: relative;
    display: flex;
    flex-direction: column;
   /* color: white;*/
   width: 80%;
    left: 20%;
}
main .wide_card {
    border-radius: 30px;
    margin-top: 10%;
    width: 80%;
    background-color: white;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);


}
.wide_card_txt{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

main .wide_card h3.title{
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 30px 30px 0px 0px; /* haut-gauche haut-droite bas-droite bas-gauche */
    height:30px ;
    margin: 0px;
    height:30px ;
    background: url(../img/menu.jpg);
    color: white;

}

/* main .wide_card div{
    padding-top: 0%;
    padding-left: 2%;
} */

.tempo{ /* Concerne les element temporaitre de la page */
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*
style des tableaux
*/
.table_veille{
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid black;
    margin-bottom: 2%;
}
.table_veille td{
    outline: 2px solid black;
}
.table_veille th{
    outline: 2px solid black;
}

/*
style des outils
*/
.tool_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}   
div.tool_card{
    justify-content: center;
    background-color: lightgray;
    width: 256px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    

}

    
div.tool_card:hover{
    background-color: gray;
    color: white;

}
.tool_logo{
    width: 256px;
    height: 256px;
}
